/* Custom CSS */
.text-vertical {
  writing-mode: vertical-lr;
  text-orientation: sideways-right;
}
.navbar-sticky {
  -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(10px);
}
::selection {
  background: #1787dd2f;
}
* {
  scroll-behavior: smooth;
}
::-webkit-scrollbar {
  width: 5px;
}
::-webkit-scrollbar-track {
  background: #fff;
}
::-webkit-scrollbar-thumb {
  background: #295391;
}

img {
  user-select: none;
}
